In [1]:
import pandas as pd
import pymysql

In [26]:
api_url="https://data.moenv.gov.tw/api/v2/aqx_p_02?api_key=540e2ca4-41e1-4186-8497-fdd67024ac44&limit=1000&sort=datacreationdate%20desc&format=CSV"

In [27]:
df=pd.read_csv(api_url)
df

    site county  pm25  datacreationdate itemunit
0     員林    彰化縣  19.0  2025-04-23 19:00    μg/m3
1     大城    彰化縣   8.0  2025-04-23 19:00    μg/m3
2    富貴角    新北市   9.0  2025-04-23 19:00    μg/m3
3     麥寮    雲林縣  12.0  2025-04-23 19:00    μg/m3
4     關山    臺東縣  15.0  2025-04-23 19:00    μg/m3
..   ...    ...   ...               ...      ...
995   新竹    新竹市  20.0  2025-04-23 07:00    μg/m3
996   竹東    新竹縣   9.0  2025-04-23 07:00    μg/m3
997   湖口    新竹縣  18.0  2025-04-23 07:00    μg/m3
998   龍潭    桃園市  13.0  2025-04-23 07:00    μg/m3
999   平鎮    桃園市  13.0  2025-04-23 07:00    μg/m3

[1000 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   site              1000 non-null   object
 1   county            1000 non-null   object
 2   pm25              970 non-null    float64
 3   datacreationdate  1000 non-null   object
 4   itemunit          1000 non-null   object
dtypes: float64(1), object(4)
memory usage: 39.2+ KB

In [5]:
df["datacreationdate"]=pd.to_datetime(df["datacreationdate"])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   site              1000 non-null   object
 1   county            1000 non-null   object
 2   pm25              970 non-null    float64
 3   datacreationdate  1000 non-null   datetime64[ns]
 4   itemunit          1000 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 39.2+ KB

In [28]:
df1=df.dropna()

In [8]:
df1=df.drop(df[df["pm25"].isna()].index)
df1

    site county  pm25    datacreationdate itemunit
0     員林    彰化縣  19.0 2025-04-23 19:00:00    μg/m3
1     大城    彰化縣   8.0 2025-04-23 19:00:00    μg/m3
2    富貴角    新北市   9.0 2025-04-23 19:00:00    μg/m3
3     麥寮    雲林縣  12.0 2025-04-23 19:00:00    μg/m3
4     關山    臺東縣  15.0 2025-04-23 19:00:00    μg/m3
..   ...    ...   ...                 ...      ...
995   新竹    新竹市  20.0 2025-04-23 07:00:00    μg/m3
996   竹東    新竹縣   9.0 2025-04-23 07:00:00    μg/m3
997   湖口    新竹縣  18.0 2025-04-23 07:00:00    μg/m3
998   龍潭    桃園市  13.0 2025-04-23 07:00:00    μg/m3
999   平鎮    桃園市  13.0 2025-04-23 07:00:00    μg/m3

[970 rows x 5 columns]

In [9]:
latest_time=df1["datacreationdate"].max()

In [10]:
df1[df1["datacreationdate"]==latest_time]

   site county  pm25    datacreationdate itemunit
0    員林    彰化縣  19.0 2025-04-23 19:00:00    μg/m3
1    大城    彰化縣   8.0 2025-04-23 19:00:00    μg/m3
2   富貴角    新北市   9.0 2025-04-23 19:00:00    μg/m3
3    麥寮    雲林縣  12.0 2025-04-23 19:00:00    μg/m3
4    關山    臺東縣  15.0 2025-04-23 19:00:00    μg/m3
..  ...    ...   ...                 ...      ...
74   土城    新北市  24.0 2025-04-23 19:00:00    μg/m3
75   新店    新北市  24.0 2025-04-23 19:00:00    μg/m3
76   萬里    新北市  11.0 2025-04-23 19:00:00    μg/m3
77   汐止    新北市  13.0 2025-04-23 19:00:00    μg/m3
78   基隆    基隆市   8.0 2025-04-23 19:00:00    μg/m3

[78 rows x 5 columns]

In [11]:
df2=df1[df1["county"]=="臺北市"]
latest_time=df2["datacreationdate"].max()
df3=df2[df2["datacreationdate"]==latest_time]
df3["pm25"]

16     4.0
63    20.0
64    20.0
65    14.0
66    11.0
67    11.0
68    10.0
Name: pm25, dtype: float64

In [12]:
df1["county"].unique()

array(['彰化縣', '新北市', '雲林縣', '臺東縣', '澎湖縣', '金門縣', '連江縣', '南投縣', '高雄市',
       '桃園市', '宜蘭縣', '臺北市', '花蓮縣', '屏東縣', '臺南市', '嘉義市', '嘉義縣', '臺中市',
       '苗栗縣', '新竹市', '新竹縣', '基隆市'], dtype=object)

In [13]:
df1.groupby("county").get_group("臺北市").groupby("site")["pm25"].mean()

site
中山    11.166667
古亭     9.500000
士林     7.916667
大同    15.250000
松山    17.333333
萬華     8.333333
陽明     3.230769
Name: pm25, dtype: float64

In [29]:
taipei=df1[df1["county"]=="臺北市"]
taipei

    site county  pm25  datacreationdate itemunit
16    陽明    臺北市   4.0  2025-04-23 19:00    μg/m3
63    大同    臺北市  20.0  2025-04-23 19:00    μg/m3
64    松山    臺北市  20.0  2025-04-23 19:00    μg/m3
65    古亭    臺北市  14.0  2025-04-23 19:00    μg/m3
66    萬華    臺北市  11.0  2025-04-23 19:00    μg/m3
..   ...    ...   ...               ...      ...
927   古亭    臺北市  10.0  2025-04-23 08:00    μg/m3
928   萬華    臺北市   8.0  2025-04-23 08:00    μg/m3
929   中山    臺北市  13.0  2025-04-23 08:00    μg/m3
930   士林    臺北市   4.0  2025-04-23 08:00    μg/m3
956   陽明    臺北市   6.0  2025-04-23 07:00    μg/m3

[85 rows x 5 columns]

In [15]:
taipei.groupby("site")["pm25"].mean()

site
中山    11.166667
古亭     9.500000
士林     7.916667
大同    15.250000
松山    17.333333
萬華     8.333333
陽明     3.230769
Name: pm25, dtype: float64

In [16]:
conn=pymysql.connect(
host="127.0.0.1",
port=3306,
user="root",
password="12345678",
db="demo"
)
conn

In [17]:
cur=conn.cursor()
cur

In [18]:
sqlstr='''
create table if not exists pm25(
id int auto_increment primary key,
site varchar(20) not null,
county varchar(50) not null,
pm25 float not null,
datacreationdate datetime not null,
itemunit varchar(10),
unique key uq_site_datetime (site,datacreationdate)
);

'''
print(sqlstr)

create table if not exists pm25(
id int auto_increment primary key,
site varchar(20) not null,
county varchar(50) not null,
pm25 float not null,
datacreationdate datetime not null,
itemunit varchar(10),
unique key uq_site_datetime (site,datacreationdate)
);

In [19]:
cur.execute(sqlstr)

0

In [20]:
conn.commit()

In [30]:
values=df1.values.tolist()

In [31]:
sqlstr='''
insert ignore into pm25(site,county,pm25,datacreationdate,itemunit)
values(%s,%s,%s,%s,%s)
'''

In [32]:
cur.execute(sqlstr,values[0])
conn.commit()

In [33]:
cur.executemany(sqlstr,values)
conn.commit()

In [36]:
sqlstr="select distinct site from pm25;"
cur.execute(sqlstr)
rows=cur.fetchall()
rows

(('三義',),
 ('三重',),
 ('中壢',),
 ('中山',),
 ('二林',),
 ('仁武',),
 ('冬山',),
 ('前金',),
 ('前鎮',),
 ('南投',),
 ('古亭',),
 ('員林',),
 ('善化',),
 ('嘉義',),
 ('土城',),
 ('埔里',),
 ('基隆',),
 ('士林',),
 ('大同',),
 ('大園',),
 ('大城',),
 ('大寮',),
 ('大里',),
 ('安南',),
 ('宜蘭',),
 ('富貴角',),
 ('小港',),
 ('屏東',),
 ('崙背',),
 ('左營',),
 ('平鎮',),
 ('彰化',),
 ('復興',),
 ('忠明',),
 ('恆春',),
 ('斗六',),
 ('新店',),
 ('新港',),
 ('新營',),
 ('新竹',),
 ('新莊',),
 ('朴子',),
 ('松山',),
 ('板橋',),
 ('林口',),
 ('林園',),
 ('桃園',),
 ('楠梓',),
 ('橋頭',),
 ('永和',),
 ('汐止',),
 ('沙鹿',),
 ('淡水',),
 ('湖口',),
 ('潮州',),
 ('竹山',),
 ('竹東',),
 ('線西',),
 ('美濃',),
 ('臺南',),
 ('臺東',),
 ('臺西',),
 ('花蓮',),
 ('苗栗',),
 ('菜寮',),
 ('萬華',),
 ('萬里',),
 ('西屯',),
 ('觀音',),
 ('豐原',),
 ('金門',),
 ('關山',),
 ('陽明',),
 ('頭份',),
 ('馬公',),
 ('馬祖',),
 ('鳳山',),
 ('麥寮',),
 ('龍潭',))

In [35]:
[row[0] for row in rows]

['三義',
 '三重',
 '中壢',
 '中山',
 '二林',
 '仁武',
 '冬山',
 '前金',
 '前鎮',
 '南投',
 '古亭',
 '員林',
 '善化',
 '嘉義',
 '土城',
 '埔里',
 '基隆',
 '士林',
 '大同',
 '大園',
 '大城',
 '大寮',
 '大里',
 '安南',
 '宜蘭',
 '富貴角',
 '小港',
 '屏東',
 '崙背',
 '左營',
 '平鎮',
 '彰化',
 '復興',
 '忠明',
 '恆春',
 '斗六',
 '新店',
 '新港',
 '新營',
 '新竹',
 '新莊',
 '朴子',
 '松山',
 '板橋',
 '林口',
 '林園',
 '桃園',
 '楠梓',
 '橋頭',
 '永和',
 '汐止',
 '沙鹿',
 '淡水',
 '湖口',
 '潮州',
 '竹山',
 '竹東',
 '線西',
 '美濃',
 '臺南',
 '臺東',
 '臺西',
 '花蓮',
 '苗栗',
 '菜寮',
 '萬華',
 '萬里',
 '西屯',
 '觀音',
 '豐原',
 '金門',
 '關山',
 '陽明',
 '頭份',
 '馬公',
 '馬祖',
 '鳳山',
 '麥寮',
 '龍潭']

In [43]:
df1.groupby("county")["pm25"].mean().sort_values(ascending=False)

county
連江縣    24.923077
金門縣    21.000000
彰化縣    16.233333
臺中市    15.952381
雲林縣    14.607843
南投縣    14.333333
宜蘭縣    14.230769
嘉義縣    14.200000
高雄市    14.039474
臺南市    13.921569
花蓮縣    13.769231
新竹市    13.250000
屏東縣    13.025641
嘉義市    12.923077
澎湖縣    12.416667
苗栗縣    11.972973
臺東縣    11.304348
新北市    10.583333
新竹縣    10.520000
臺北市    10.305882
桃園市     9.945946
基隆市     7.250000
Name: pm25, dtype: float64

In [44]:
sqlstr="""select county,round(AVG(pm25),2) as avg_pm25
from pm25 group by county order by avg_pm25 desc;
"""
cur.execute(sqlstr)
cur.fetchall()

(('連江縣', 24.92),
 ('金門縣', 21.0),
 ('彰化縣', 16.23),
 ('臺中市', 15.95),
 ('雲林縣', 14.61),
 ('南投縣', 14.33),
 ('宜蘭縣', 14.23),
 ('嘉義縣', 14.2),
 ('高雄市', 14.04),
 ('臺南市', 13.92),
 ('花蓮縣', 13.77),
 ('新竹市', 13.25),
 ('屏東縣', 13.03),
 ('嘉義市', 12.92),
 ('澎湖縣', 12.42),
 ('苗栗縣', 11.97),
 ('臺東縣', 11.3),
 ('新北市', 10.58),
 ('新竹縣', 10.52),
 ('臺北市', 10.31),
 ('桃園市', 9.95),
 ('基隆市', 7.25))

In [50]:
sqlstr="""
select site,round(AVG(pm25),2) as avg_pm25
from pm25
where county='臺北市'
group by site
order by avg_pm25 desc;
"""
cur.execute(sqlstr)
cur.fetchall()

(('松山', 17.33),
 ('大同', 15.25),
 ('中山', 11.17),
 ('古亭', 9.5),
 ('萬華', 8.33),
 ('士林', 7.92),
 ('陽明', 3.23))

In [51]:
df1[df1["county"]=="臺北市"].groupby("site")["pm25"].mean().round(2).sort_values(ascending=False)

site
松山    17.33
大同    15.25
中山    11.17
古亭     9.50
萬華     8.33
士林     7.92
陽明     3.23
Name: pm25, dtype: float64